@font-face{
    font-family:liketahoma2;
    src:url(font/liketohoma2.woff2);
}
@font-face{
    font-family:cwTeXYen-zhonly;
    src:url(font/cwTeXYen-zhonly.ttf);
}
#title{
    /* position:absolute; */
    font: bold  100px cwTeXYen-zhonly,Tahoma;
    color:white;
    top:60px;
    left:510px;
    letter-spacing:0.19em;
    text-shadow: 3px 3px 5px black;
}

#myMovie{
    position:fixed;
    width:auto;
    height:auto;
    top:50%;
    left:50%;
    min-height:100%;
    min-width:100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
}
#search{
    position:absolute;
    top:300px;
    left:450px;
}
#stray{
    position:absolute;
    top:220px;
    left:550px;
}
#item{
    position:absolute;
    top:220px;
    left:680px;
}
#lifepost{
    position:absolute;
    top:300px;
    left:780px;
}
#cathead{
    
    
    padding-top: 20px;
    border: solid 3px;
    border-radius:50%;
    /* position:absolute; */
    /* top:330px;
    left:520px; */
}
#cathead2{
    margin:330px auto;
    border:solid 1px;
}
#subTitle{
    /* position:absolute; */
    font: normal  19px liketahoma2,Tahoma;
    color:white;
    top:550px;
    left:520px;
    letter-spacing:0.19em;
}
/* #board{
   width:180px;
   background:#555;
   padding:20px;
   position:absolute;
   left:1100px;
   top:70px;
} */
#login{
    
     position:absolute;
     left:1250px;
     top:20px;
     padding-bottom:10px;
}
#talkbubble{
     position:relative;
  /* transform:rotate(180deg);*/
     left:1250px;
     top:80px;
     width:120px;
     height:80px;
     
}
#talkMSG{
     position:absolute;
     top:1px;
}