#box{
	width:400px;
    margin:150px auto;
	padding:30px 50px;
	box-shadow: 0px 0px 50px black;
	border-radius:5px;
	background-color:white;
}
#boxInside{
	width:400px;
	border:solid 1px;
	
}
.innerDiv{
    
    /* display: inline-block; */
    
}
#textBox{
    padding-left:20px;
 
}
#imgTick{
    position:relative;
    margin-right:50px;
    float:left;
}
.button{
    border:none;
    width:400px;
    height:40px;
    border-radius: 5px;
    font: normal bold 15px Tahoma;
    background-color:#99ff00;
    padding:5px;
    margin-top:10px;
	cursor: pointer;
}
